services:
  mariadb:
    container_name: mariadb
    build: ./requirements/mariadb
    image: mariadb
    env_file: .env
    restart: always
    volumes:
      - db-data:/var/lib/mysql
    networks:
      - inception
    expose:
      - "3306"
    environment:
      - MYSQL_DATABASE=${DB_NAME}
      - MYSQL_USER=${WP_USER}
      - MYSQL_PASSWORD=${WP_USER_PASSWORD}
      - MYSQL_ROOT_PASSWORD=${MYSQL_ROOT_PASSWORD}

  wordpress:
    container_name: wordpress
    build: ./requirements/wordpress
    image: wordpress
    env_file: .env
    depends_on: 
      - mariadb
    restart: always
    volumes:
      - wp-data:/var/www
    networks:
      - inception
    expose:
      - "9000"
    environment:
      - DB_NAME=${DB_NAME}
      - DB_USER=${WP_USER}
      - DB_PASSWORD=${WP_USER_PASSWORD}
      - DB_HOST=mariadb
      - WP_URL=${WP_URL}
      - WP_TITLE=${WP_TITLE}
      - WP_ADMIN_USER=${WP_ADMIN_USER}
      - WP_ADMIN_PASSWORD=${WP_ADMIN_PASSWORD}
      - WP_ADMIN_EMAIL=${WP_ADMIN_EMAIL}
      - WP_USER=${WP_USER}
      - WP_USER_PASSWORD=${WP_USER_PASSWORD}
      - WP_USER_EMAIL=${WP_USER_EMAIL}

  nginx:
    container_name: nginx
    build: ./requirements/nginx
    image: nginx
    depends_on:
      - wordpress
    restart: always
    ports:
      - "443:443"
    volumes:
      - wp-data:/var/www
    networks:
      - inception

volumes:
  db-data:
    driver: local
    driver_opts:
      type: none
      o: bind
      device: /home/gmontoro/data/db-data
  wp-data:
    driver: local
    driver_opts:
      type: none
      o: bind
      device: /home/gmontoro/data/wp-data

networks:
  inception:
    driver: bridge

